*, ::after, ::before {
    box-sizing: border-box;
}

.bg-color {
    background-color:rgb(29, 30, 31);
}



.text-shop {
color: rgb(14, 218, 58);
}

.btn-shop {
    background-color: rgb(29, 155, 56);
  }

.text-white {
    color: white
}

.p-nav {
    padding: 5px 75px;
}

.filter {
filter: brightness(70%);
}

.p-banner {
    padding-right: 110px;
}

.pt-6 {
    padding-top: 90px;
}

.row-cols-1 {
    margin: 0 30px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }

.m-form {
    margin: 20px 300px;
}

.btn-form {
    background-color: rgb(153, 202, 69);
}

.bg-footer {
    background-color: rgb(34, 51, 59);
}
    
.p-footer {
    padding: 15px 150px;
  }